.box_extended {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.narrower { 
    width: 70%;
}

.top_space {
    margin-top: 20px;
}

.bottom_space {
    margin-bottom: 20px;
}

.padding {
    padding: 24px;
    text-align: center;
    font-size: 1.2rem;
}

.view_screen {
    width: 720px;
    height: 405px;
}

.result_list {
    list-style-type: none;
}

.video_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #d9d9d9 solid;
    padding: 12px 20px;
    margin-bottom: 20px;
    font-size: .9rem;
    border-radius: 5px;
}